.idea
bower_components
tmp
/www
platforms/android/res/drawable*/screen.png
platforms/android/res/drawable*/icon.png
platforms/ios/MobileLoop/Resources/icons/*.png
platforms/ios/MobileLoop/Resources/splash/*.png
console.log
*.iml
package.zip
/node_modules
*.mo
platforms/android/.gradle
platforms/android/assets/www
platforms/android/CordovaLib/build
platforms/browser/www
platforms/ios/www
rob.xcuserdatad
tombu.xcuserdatad
loopy.xcuserdatad
platforms/ios/fastlane/metadata
platforms/ios/fastlane/screenshots
report.xml
platforms/android/res/drawable-*/notification.png
platforms/android/res/mipmap-*/*.png
platforms/ios/MobileLoop/Images.xcassets/AppIcon.appiconset/*.png
platforms/android/fastlane/metadata
/app/*
build-data.json
.chcplogin
