.idea
bower_components
tmp
/www
platforms/android/res/drawable*/screen.png
platforms/android/res/drawable*/icon.png
platforms/ios/MobileLoop/Resources/icons/*.png
platforms/ios/MobileLoop/Resources/splash/*.png
console.log
*.iml
package.zip
/node_modules
*.mo
platforms/android/.gradle
platforms/android/assets/www
platforms/android/CordovaLib/build
platforms/browser/www
platforms/ios/www
rob.xcuserdatad
tombu.xcuserdatad
